.contact-recaptcha {
	-webkit-display: flex;
	-webkit-justify-content: center;
	display: flex;
	justify-content: center;
	margin: 20px 0px;
}

.wpl-recaptcha {
	-webkit-display: flex;
	display: flex;
}