//School add-on. Default layout. pshow_position3
.wpl_prp_container {
  .wpl_prp_show_position3 {
    .wpl_prp_position3_boxes.school_info {
      padding-right: 15px;
    }
  }
}

.wpl-school-info-activity-wp.wpl-school-info-default {
  > div {
    border: none;
  }
  .wpl-js-tab-system.wpl-crm-contactdetail-tab {
    .wpl-crm-grid-tab.wpl-gen-tab-wp {
      position: relative;
      background: transparent;
      bottom: -4px;
      border-bottom: none;
      margin-bottom: 0;
      ul {
        li {
          list-style: none;
          margin: 0;
          border-right: none;
          a {
            border-radius: 0;
            background: transparent;
            border: 1px solid $co-12;
            font: {
              size: 13px;
              weight: normal;
              style: normal;
            }
            color: darken($co-12, 30%);
            padding: 11px 23px;
            &:hover,
            &:active,
            &:focus {
              text-decoration: none;
            }
          }
        }
        li.wpl-gen-tab-active-parent {
          a {
            color: $co-28;
            background: $co-15;
            border-bottom: 1px solid transparent;
          }
        }
      }
    }
    .wpl-gen-tab-contents-wp {
      .wpl-gen-tab-content.tab-content {
        background: $co-15;
        border: 1px solid $co-12;
        padding: 30px;
        @include clearfix;
      }
    }
  }
}
