.wpl_aps_container {
  .wpl-aps-remove-shapes-btn {
    button {
      font-size: 12px;
      font-weight: 700;
      font-family: inherit;
      font-style: normal;
      color: $co-11;
      border: 2px solid transparent;
      //background-color: $co-4;
      padding: 0 17px;
      min-width: auto;
      width: 100%;
      height: 22px;
      position: relative;
      display: inline-block;
      margin: 0;
      text-decoration: none;
      cursor: pointer;
      white-space: nowrap;
      line-height: 11px;
      outline: 0;
      text-transform: uppercase;
      @include border-radius(4px);
      text-shadow: none;
      @include transition(color .1s linear,background-color .1s linear,border-color .1s linear);
      @include box-sizing(border-box!important);

      &:hover {
        //border: 2px solid $co-4;
        //color: $co-4;
       //background-color: $co-11 !important;
      }
    }
  }
}

