.wpl-crm-form-frontend {
  .wpl_listing_field_container ,
  .prow-locations .location-part
  {
    height: 60px;
  }
  label.title {
    height: auto;
  }
}
.wpl-crm-btn .wpl-crm-icon {
  top: 10px;
}