.wpl_pagination_container {
  padding: 0;
  border-top: 0;
  .pagination {
    margin: 0;
    li {
      a, span {
        @include box-sizing(border-box);
        display: block;
        min-width: 40px;
        height: 40px;
        text-align: center;
        border-width: 2px;
        border-color: $co-8;
        color: $co-42 !important;
        line-height: 25px;
        font-size: 17px;
        font-family: lato;

        @include for-phone {
          min-width: 39px;
          height: 39px;
          line-height: 23px;
        }

      }
      &.disabled a {
        background: $co-6;
        cursor: not-allowed;
      }
      &.next a {
       font-size: 0;
        &:before {
          content: "\e657";
          font-size: 15px;
          font-family: 'wpl-front';
        }
      }
      &.prev a {
        font-size: 0;
        &:before {
          content: '\e656';
          font-size: 15px;
          font-family: 'wpl-front';
        }
      }
    }
  }

  .wpl_total_result , .wpl_page_size .wpl_page_size_title{
    font-family: lato;
    padding-top: 0;
    font-size: 14px;
    font-weight: 600;
    color: lighten($co-17, 5%);
    line-height: 25px;
  }
  .wpl_page_size {
    margin: 0;
  }
  .wpl_page_size_options {
    min-width: 75px;
    height: 40px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    border-width: 2px;
    border-color: $co-17;
    color: lighten($co-17, 5%);
    padding-left: 9px;
    cursor: pointer;
  }
}
.wpl_property_listing_container.wpl-property-listing-mapview .pagination li span {
  line-height: 6px;
  min-width: 30px;
}
