$co-1: #4c4c4c;
$co-2: #ffffff;
$co-3: #808080;
$co-4: #999999;
$co-5: #ffba00;
$co-6: #262626;
$co-7: #000;
$co-8: #d9d9d9;
$co-9: #9e9e9e;
$co-10: #d3d3d3;
$co-11: #2ab0f3;
$co-12: #989898;
$co-13: #bfbfbf;
$co-14: #272727;
$co-15: #525252;
$co-16: #717171;
$co-17: #ccc;
$co-18: #414141;
$co-19: #333;
$co-20: #777;
$co-21: #ededed;
$co-22: #b8b8b8;
$co-23: #f8f8f8;
$co-24: #4d4d4d;
$co-25: #e3e3e3;
$co-26: #f7f7f7;
$co-27: #666;
$co-28: #cc9500;
$co-29: #f1f1f1;
$co-30: #eee;
