@font-face {
    font-family: 'wpl-front';
    font-display: fallback;
    src:url('../fonts/wpl_front.eot');
    src:url('../fonts/wpl_front.eot') format('embedded-opentype'),
        url('../fonts/wpl_front.svg#wpl_front') format('svg'),
        url('../fonts/wpl_front.woff2') format('woff2'),
        url('../fonts/wpl_front.woff') format('woff'),
        url('../fonts/wpl_front.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="wpl-font-"], [class*=" wpl-font-"], .fa {
    font-family: 'wpl-front';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-yelp-distance:before {
    content: "\e944";
}
.icon-compare:before {
    content: "\e93e";
}
.icon-icon-setting-default-category-side .path1:before {
    content: "\e93c";
    color: rgb(0, 0, 0);
    opacity: 0.75;
}
.icon-icon-setting-default-category-side .path2:before {
    content: "\e93d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-price_request:before {
    content: "\e93f";
}
.icon-uniE000:before {
    content: "\e000";
}
.icon-uniE001:before {
    content: "\e001";
}
.icon-uniE002:before {
    content: "\e002";
}
.icon-uniE003:before {
    content: "\e003";
}
.icon-uniE004:before {
    content: "\e004";
}
.icon-uniE005:before {
    content: "\e005";
}
.icon-uniE006:before {
    content: "\e006";
}
.icon-uniE007:before {
    content: "\e007";
}
.icon-uniE008:before {
    content: "\e008";
}
.icon-uniE009:before {
    content: "\e009";
}
.icon-uniE00A:before {
    content: "\e00a";
}
.icon-uniE00B:before {
    content: "\e00b";
}
.icon-uniE00C:before {
    content: "\e00c";
}
.icon-uniE00D:before {
    content: "\e00d";
}
.icon-uniE00E:before {
    content: "\e00e";
}
.icon-uniE00F:before {
    content: "\e00f";
}
.icon-uniE010:before {
    content: "\e010";
}
.icon-uniE011:before {
    content: "\e011";
}
.icon-uniE012:before {
    content: "\e012";
}
.icon-uniE013:before {
    content: "\e013";
}
.icon-uniE014:before {
    content: "\e014";
}
.icon-uniE015:before {
    content: "\e015";
}
.icon-uniE016:before {
    content: "\e016";
}
.icon-uniE017:before {
    content: "\e017";
}
.icon-uniE018:before {
    content: "\e018";
}
.icon-uniE019:before {
    content: "\e019";
}
.icon-uniE01A:before {
    content: "\e01a";
}
.icon-uniE01B:before {
    content: "\e01b";
}
.icon-uniE01C:before {
    content: "\e01c";
}
.icon-uniE01D:before {
    content: "\e01d";
}
.icon-uniE01E:before {
    content: "\e01e";
}
.icon-uniE020:before {
    content: "\e020";
}
.icon-uniE021:before {
    content: "\e021";
}
.icon-uniE027:before {
    content: "\e023";
}
.icon-uniE028:before {
    content: "\e028";
}
.icon-uniE029:before {
    content: "\e029";
}
.icon-uniE02A:before {
    content: "\e02a";
}
.icon-uniE02B:before {
    content: "\e02b";
}
.icon-uniE02D:before {
    content: "\e02d";
}
.icon-uniE02E:before {
    content: "\e02e";
}
.icon-uniE02F:before {
    content: "\e02f";
}
.icon-uniE030:before {
    content: "\e030";
}
.icon-uniE031:before {
    content: "\e031";
}
.icon-uniE033:before {
    content: "\e033";
}
.icon-uniE034:before {
    content: "\e034";
}
.icon-uniE035:before {
    content: "\e035";
}
.icon-uniE036:before {
    content: "\e036";
}
.icon-uniE037:before {
    content: "\e037";
}
.icon-uniE038:before {
    content: "\e038";
}
.icon-uniE039:before {
    content: "\e039";
}
.icon-uniE03A:before {
    content: "\e03a";
}
.icon-uniE03B:before {
    content: "\e03b";
}
.icon-uniE602:before {
    content: "\e5ff";
}
.icon-uniE600:before {
    content: "\e600";
}
.icon-uniE601:before {
    content: "\e601";
}
.icon-req-for-visit:before {
    content: "\e602";
}
.icon-uniE603:before {
    content: "\e603";
}
.icon-uniE604:before {
    content: "\e604";
}
.icon-uniE605:before {
    content: "\e605";
}
.icon-uniE606:before {
    content: "\e606";
}
.icon-uniE607:before {
    content: "\e607";
}
.icon-uniE608:before {
    content: "\e608";
}
.icon-uniE609:before {
    content: "\e609";
}
.icon-uniE60A:before {
    content: "\e60a";
}
.icon-uniE60B:before {
    content: "\e60b";
}
.icon-uniE60C:before {
    content: "\e60c";
}
.icon-uniE60D:before {
    content: "\e60d";
}
.icon-uniE60E:before {
    content: "\e60e";
}
.icon-uniE60F:before {
    content: "\e60f";
}
.icon-uniE610:before {
    content: "\e610";
}
.icon-Area:before {
    content: "\e611";
}
.icon-Bathroom1:before {
    content: "\e612";
}
.icon-Bedroom2:before {
    content: "\e613";
}
.icon-Bedroom:before {
    content: "\e614";
}
.icon-DinnerRoom:before {
    content: "\e615";
}
.icon-DinnerRoom2:before {
    content: "\e616";
}
.icon-ExteraRoom:before {
    content: "\e617";
}
.icon-Facebook1:before {
    content: "\e618";
}
.icon-Facebook2:before {
    content: "\e619";
}
.icon-Facebook3:before {
    content: "\e61a";
}
.icon-Familyroom1:before {
    content: "\e61b";
}
.icon-Familyroom2:before {
    content: "\e61c";
}
.icon-GooglePlus1:before {
    content: "\e61d";
}
.icon-GooglePlus2:before {
    content: "\e61e";
}
.icon-GooglePlus3:before {
    content: "\e61f";
}
.icon-Kitchen2:before {
    content: "\e620";
}
.icon-Kitchen:before {
    content: "\e621";
}
.icon-Livingroom1:before {
    content: "\e622";
}
.icon-Loundry:before {
    content: "\e623";
}
.icon-RSS1:before {
    content: "\e624";
}
.icon-RSS2:before {
    content: "\e625";
}
.icon-RSS3:before {
    content: "\e626";
}
.icon-Save1:before {
    content: "\e627";
}
.icon-Save2:before {
    content: "\e628";
}
.icon-Studyroom1:before {
    content: "\e629";
}
.icon-Studyroom2:before {
    content: "\e62a";
}
.icon-Studyroom3:before {
    content: "\e62b";
}
.icon-Twitter1:before {
    content: "\e62c";
}
.icon-Twitter2:before {
    content: "\e62d";
}
.icon-Twitter3:before {
    content: "\e62e";
}
.icon-bedroom2:before {
    content: "\e62f";
}
.icon-bedroom4:before {
    content: "\e630";
}
.icon-big23:before {
    content: "\e631";
}
.icon-shelf1:before {
    content: "\e632";
}
.icon-wardrobe:before {
    content: "\e633";
}
.icon-wardrobe2:before {
    content: "\e634";
}
.icon-office2:before {
    content: "\e635";
}
.icon-office3:before {
    content: "\e636";
}
.icon-office:before {
    content: "\e637";
}
.icon-room:before {
    content: "\e638";
}
.icon-expand:before {
    content: "\e639";
}
.icon-addComplex:before {
    content: "\e63a";
}
.icon-AddProperty:before {
    content: "\e63b";
}
.icon-Agent-window:before {
    content: "\e63c";
}
.icon-ChangeMembership:before {
    content: "\e63d";
}
.icon-Chargebutton:before {
    content: "\e63e";
}
.icon-editComplex:before {
    content: "\e63f";
}
.icon-EditProperty:before {
    content: "\e640";
}
.icon-E-Wallet:before {
    content: "\e641";
}
.icon-gridview:before {
    content: "\e642";
}
.icon-Guests:before {
    content: "\e643";
}
.icon-home:before {
    content: "\e644";
}
.icon-Investor:before {
    content: "\e645";
}
.icon-listview:before {
    content: "\e646";
}
.icon-Loginbutton:before {
    content: "\e647";
}
.icon-Loginform:before {
    content: "\e648";
}
.icon-ManageComplex:before {
    content: "\e649";
}
.icon-ManageProperty:before {
    content: "\e64a";
}
.icon-Membership:before {
    content: "\e64b";
}
.icon-menu:before {
    content: "\e64c";
}
.icon-NewUserRegistration:before {
    content: "\e64d";
}
.icon-nxetbutton:before {
    content: "\e64e";
}
.icon-Owner:before {
    content: "\e64f";
}
.icon-Password:before {
    content: "\e650";
}
.icon-profile:before {
    content: "\e651";
}
.icon-savebutton:before {
    content: "\e652";
}
.icon-trashicon:before {
    content: "\e653";
}
.icon-uniE654:before {
    content: "\e654";
}
.icon-uniE655:before {
    content: "\e655";
}
.icon-uniE656:before {
    content: "\e656";
}
.icon-uniE657:before {
    content: "\e657";
}
.icon-abuse:before {
    content: "\e658";
}
.icon-alert9:before {
    content: "\e659";
}
.icon-warning45:before {
    content: "\e65a";
}
.icon-eye:before {
    content: "\e65b";
}
.icon-property:before {
    content: "\e65c";
}
.icon-airport:before {
    content: "\e65d";
}
.icon-bagging:before {
    content: "\e65e";
}
.icon-beach:before {
    content: "\e65f";
}
.icon-bus:before {
    content: "\e660";
}
.icon-camera:before {
    content: "\e661";
}
.icon-coffee:before {
    content: "\e662";
}
.icon-funny:before {
    content: "\e663";
}
.icon-hospital:before {
    content: "\e664";
}
.icon-image:before {
    content: "\e665";
}
.icon-park:before {
    content: "\e666";
}
.icon-police:before {
    content: "\e667";
}
.icon-icon-importer-dash:before {
    content: "\e668";
}
.icon-shopping:before {
    content: "\e669";
}
.icon-train:before {
    content: "\e66a";
}
.icon-university:before {
    content: "\e66b";
}
.icon-NeighborhoodParent:before {
    content: "\e66c";
}
.icon-Neighborhood:before {
    content: "\e66d";
}
.icon-exhibition1:before {
    content: "\e66e";
}
.icon-Export:before {
    content: "\e66f";
}
.icon-Import:before {
    content: "\e670";
}
.icon-setting:before {
    content: "\e671";
}
.icon-refresh:before {
    content: "\e672";
}
.icon-note-over:before {
    content: "\e673";
}
.icon-save:before {
    content: "\e674";
}
.icon-select-box-uncheck:before {
    content: "\e675";
}
.icon-select-box:before {
    content: "\e676";
}
.icon-radio-button-select:before {
    content: "\e677";
}
.icon-radio-button:before {
    content: "\e678";
}
.icon-pin:before {
    content: "\e679";
}
.icon-menu2:before {
    content: "\e67a";
}
.icon-fullscreen:before {
    content: "\e67b";
}
.icon-dropdown:before {
    content: "\e67c";
}
.icon-CRM:before {
    content: "\e67d";
}
.icon-add:before {
    content: "\e67e";
}
.icon-search:before {
    content: "\e67f";
}
.icon-yahoo:before {
    content: "\e680";
}
.icon-tick:before {
    content: "\e681";
}
.icon-sort-up:before {
    content: "\e682";
}
.icon-sort-down:before {
    content: "\e683";
}
.icon-skype:before {
    content: "\e684";
}
.icon-next:before {
    content: "\e685";
}
.icon-close-table:before {
    content: "\e686";
}
.icon-back:before {
    content: "\e687";
}
.icon-Transaction:before {
    content: "\e688";
}
.icon-star:before {
    content: "\e689";
}
.icon-Searches:before {
    content: "\e68a";
}
.icon-Phone:before {
    content: "\e68b";
}
.icon-open:before {
    content: "\e68c";
}
.icon-open-table:before {
    content: "\e68d";
}
.icon-Offer:before {
    content: "\e68e";
}
.icon-Note:before {
    content: "\e68f";
}
.icon-note:before {
    content: "\e690";
}
.icon-Logins:before {
    content: "\e691";
}
.icon-ListingsViewed:before {
    content: "\e692";
}
.icon-Face-to-Face:before {
    content: "\e693";
}
.icon-Events:before {
    content: "\e694";
}
.icon-Email:before {
    content: "\e695";
}
.icon-EmailFromMyAccount:before {
    content: "\e696";
}
.icon-edit:before {
    content: "\e697";
}
.icon-Coversation:before {
    content: "\e698";
}
.icon-close2:before {
    content: "\e699";
}
.icon-Activities:before {
    content: "\e69a";
}
.icon-Requests:before {
    content: "\e69b";
}
.icon-Reminders:before {
    content: "\e69c";
}
.icon-Events2:before {
    content: "\e69d";
}
.icon-Dashboard:before {
    content: "\e69e";
}
.icon-Contacts:before {
    content: "\e69f";
}
.icon-Show-archive:before {
    content: "\e6a0";
}
.icon-Process-Relationships:before {
    content: "\e6a1";
}
.icon-Process-Merge:before {
    content: "\e6a2";
}
.icon-Mass-archive:before {
    content: "\e6a3";
}
.icon-Import2:before {
    content: "\e6a4";
}
.icon-export:before {
    content: "\e6a5";
}
.icon-notification:before {
    content: "\e6a6";
}
.icon-mail:before {
    content: "\e6a7";
}
.icon-archive:before {
    content: "\e6a8";
}
.icon-pinterest:before {
    content: "\e6a9";
}
.icon-you-tube:before {
    content: "\e6aa";
}
.icon-Heart:before {
    content: "\e6ab";
}
.icon-circle:before {
    content: "\e6ac";
}
.icon-close:before {
    content: "\e6ad";
}
.icon-SavedSearches:before {
    content: "\e6ae";
}
.icon-externallink:before {
    content: "\e6af";
}
.icon-Mass-delete:before {
    content: "\e6b0";
}
.icon-star2:before {
    content: "\e6b1";
}
.icon-close-event:before {
    content: "\e6b2";
}
.icon-edit-event:before {
    content: "\e6b3";
}
.icon-Logins-contact-detail:before {
    content: "\e6b4";
}
.icon-Events-contact-detail:before {
    content: "\e6b5";
}
.icon-Heart-contactdetail:before {
    content: "\e6b6";
}
.icon-Request-contactdetail:before {
    content: "\e6b7";
}
.icon-Searches-contactdetail:before {
    content: "\e6b8";
}
.icon-normal-fullscreen:before {
    content: "\e6b9";
}
.icon-print:before {
    content: "\e6ba";
}
.icon-filter:before {
    content: "\e6bb";
}
.icon-filter-cancel:before {
    content: "\e6bc";
}
.icon-contact-form:before {
    content: "\e6bd";
}
.icon-private:before {
    content: "\e6be";
}
.icon-icon-mls-dash:before {
    content: "\e6bf";
}
.icon-icon-calendar-dash:before {
    content: "\e6c0";
}
.icon-iconmonstr-note-21-icon:before {
    content: "\e6c1";
}
.icon-mapicon:before {
    content: "\e6c2";
}
.icon-send-to-frame:before {
    content: "\e6c3";
}
.icon-pin-alt:before {
    content: "\e6c4";
}
.icon-linkedin:before {
    content: "\e6c5";
}
.icon-grade:before {
    content: "\e6c6";
}
.icon-tel:before {
    content: "\e6c7";
}
.icon-type:before {
    content: "\e6c8";
}
.icon-star3:before {
    content: "\e6c9";
}
.icon-star-full:before {
    content: "\e6ca";
}
.icon-star-empty:before {
    content: "\e6cb";
}
.icon-circle-compass:before {
    content: "\e6cc";
}
.icon-mapicon2:before {
    content: "\e6cd";
}
.icon-uniE800:before {
    content: "\e800";
}
.icon-uniE801:before {
    content: "\e801";
}
.icon-uniE802:before {
    content: "\e802";
}
.icon-uniE803:before {
    content: "\e803";
}
.icon-uniE804:before {
    content: "\e804";
}
.icon-Attachment:before {
    content: "\e900";
}
.icon-close-x:before {
    content: "\e901";
}
.icon-Drop:before {
    content: "\e902";
}
.icon-Edit:before {
    content: "\e903";
}
.icon-hide:before {
    content: "\e904";
}
.icon-PIN:before {
    content: "\e905";
}
.icon-PostID:before {
    content: "\e906";
}
.icon-arrow-light-down:before {
    content: "\e907";
}
.icon-show:before {
    content: "\e908";
}
.icon-star4:before {
    content: "\e909";
}
.icon-Status-Close:before {
    content: "\e90a";
}
.icon-Status-Done:before {
    content: "\e90b";
}
.icon-Status-Open:before {
    content: "\e90c";
}
.icon-Status-Responded:before {
    content: "\e90d";
}
.icon-Status-Waiting:before {
    content: "\e90e";
}
.icon-arrow-light-up:before {
    content: "\e90f";
}
.icon-expand-page:before {
    content: "\e910";
}
.icon-share:before {
    content: "\e911";
}
.icon-sqft:before {
    content: "\e912";
}
.icon-direction:before {
    content: "\e913";
}
.icon-back-to-result:before {
    content: "\e914";
}
.icon-Grid:before {
    content: "\e915";
}
.icon-List:before {
    content: "\e916";
}
.icon-Map:before {
    content: "\e917";
}
.icon-landing-page:before {
    content: "\e918";
}
.icon-Save:before {
    content: "\e919";
}
.icon-Success:before {
    content: "\e91a";
}
.icon-search2:before {
    content: "\e91b";
}
.icon-grid:before {
    content: "\e91c";
}
.icon-list:before {
    content: "\e91d";
}
.icon-map:before {
    content: "\e91e";
}
.icon-lot-area:before {
    content: "\e91f";
}
.icon-genesis-grid-view:before {
    content: "\e920";
}
.icon-genesis-list-view:before {
    content: "\e921";
}
.icon-genesis-map-view:before {
    content: "\e922";
}
.icon-genesis-pdf:before {
    content: "\e923";
}
.icon-genesis-print:before {
    content: "\e924";
}
.icon-genesis-rss:before {
    content: "\e925";
}
.icon-genesis-save:before {
    content: "\e926";
}
.icon-half-bath:before {
    content: "\e927";
}
.icon-copy:before {
    content: "\e928";
}
.icon-sort-down2:before {
    content: "\e929";
}
.icon-sort-up2:before {
    content: "\e92a";
}
.icon-heart:before {
    content: "\e92b";
}
.icon-heart-fill:before {
    content: "\e92c";
}
/*.icon-restore:before {
    content: "\e92d";
}*/
.icon-thumbs-o-down:before {
    content: "\e92e";
}
.icon-thumbs-o-up:before {
    content: "\e92f";
}
.icon-deselectall:before {
    content: "\e930";
}
.icon-selectall:before {
    content: "\e931";
}
.icon-arrow-left:before {
    content: "\e932";
}
.icon-arrow-right:before {
    content: "\e933";
}
.icon-move:before {
    content: "\e934";
}
.icon-camera2:before {
    content: "\e935";
}
.icon-grid-view:before {
    content: "\e936";
}
.icon-list-view:before {
    content: "\e937";
}
.icon-link:before {
    content: "\e938";
}
.icon-revert:before {
    content: "\e939";
}
.icon-mines:before {
    content: "\e93a";
}
.icon-fax:before {
    content: "\e93b";
}
.icon-uniF00C:before {
    content: "\f00c";
}
.icon-uniF153:before {
    content: "\f153";
}
.icon-uniF154:before {
    content: "\f154";
}
.icon-Replay:before {
    content: "\1f30a";
}
.icon-check:before {
  content: "\e946";
}