.ui-datepicker {
  .ui-datepicker-year {
    border-radius: 0;
    border: 0;
    font: {
      size: initial;
    }
    padding: 0;
    width: initial;
  }
  .ui-datepicker-calendar {
    margin-bottom: 0;
  }
}