
.wpl-slider-bx-pager-wp,.wpl-lSSlider-thumbnails-inner{
  display: none;
}
  .wpl_prp_show_container {
    .tabs_container {
      padding-bottom: 145px;
      background-color: $co-2;
      border-bottom: none;
      box-shadow: 0 0.15em 0.35em 0 rgba($co-7, .135);
      @include for-tablet-sm{
        padding-bottom: 0;
      }
    }
    .tabs_box {
      margin: 0 auto;
      padding: 0;
    }
    .wpl-gallery-pshow-wp{
      .lSSlideOuter {
        .wpl-lSSlider-thumbnails {
          //display: none;
        }
        .lSSlideWrapper{
        .lSAction{
          a{
            background: transparent;
            height: 70px;
            width: 70px;
            border-radius: 50%;
            border: 3px solid transparent;
          }
          a:hover {
            border-color: $co-2;
            background-color: transparent;
          }
          .lSPrev:before {
            content: "\e656";
            font-size: 70px;
            font-family: $fo-wpl;
            top: -5px;
            left: -3px;
          }
          .lSNext:before {
            content: "\e657";
            font-size: 70px;
            font-family: $fo-wpl;
            top: -5px;
            right: -3px;
          }
          .lSNext:hover:before {
            @include transform(scale(.5));
          }
          .lSPrev:hover:before {
            @include transform(scale(.5));
          }
        }
      }
        .lslide{
          span{
            &:after{
              display: none;
            }
            &:before{
              display: none;
            }
          }
        }
      }
    }
    .wpl_prp_container_content {
      margin: 0 auto;
      position: relative;
    }
    .wpl_prp_container_content_title {
      position: absolute;
      top: -200px;
      width: 100%;
      text-align: center;
      border-bottom: none;
      margin: 0;
      @include for-tablet-sm {
        position: static;
      }
      .wpl-columns:first-child {
        width: 100%;
      }
      .wpl_qrcode_container{
        position: absolute;
        right: 0;
        bottom: -95px;
        @include for-tablet-sm{
          position: static;
        }
      }
    }
    .wpl_prp_container_content_title:before {
      height: 1px;
      background-color: rgba($co-8, .4);
      width: 100%;
      position: absolute;
      top: 63%;
      z-index: 1;
    }
    .wpl_prp_container_content_title:after {
      height: 1px;
      background-color: rgba($co-8, .4);
      width: 100%;
      position: absolute;
      bottom: 33%;
      z-index: 1;
    }
    .wpl_prp_right_boxes_title, h2 {
      display: block;
      margin: 0 !important;
      padding: 10px 0;
      background-color: $co-2;
      position: relative;
      z-index: 2;
    }
    h2{
      padding: 10px 50px;
    }
    .title_text {
      color: $co-14;
      font-size: 50px;
      font-weight: 300;
      padding-bottom: 0;
      @include for-tablet-sm{
        font-size: 20px;
      }
    }
    .wpl_prp_right_boxe_details_left{
      width: 98%;
    }
    .location_build_up {
      display: inline-block;
      color: $co-4;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 400;
      @include for-tablet-sm{
        font-size: 14px;
      }
    }
    .wpl-column {
      padding: 30px 10px;
      @include for-phone{
        padding: 0 10px;
        margin-bottom: 0;
      }
    }
    .wpl_prp_show_detail_boxes {
      background-color: $co-2;
      margin-bottom: 0;
      padding: 10px 0;
      box-shadow: 0 2px 5px rgba($co-7, .2);
      border-radius: 0 0 5px 5px;
      overflow: hidden;
      margin-top: -3px;
      .wpl-large-up-4{
        .feature.single:after,.feature span{
          width: auto;
        }
      }
      .wpl-large-up-6{
        .feature.single:after,.feature span{
          width: 100%;
        }
        .other span, .location span, .neighborhood span{
          width: auto;
        }
      }
    }
    .wpl_prp_show_position3>div{
      background-color: $co-2;
      padding: 10px 20px;
      box-shadow: 0 2px 5px rgba($co-7, .2);
      overflow: hidden;
      margin: 15px 0;
      border-radius: 5px !important;
    }
    .wpl_prp_show_detail_boxes:first-child {
      border-radius: 5px 5px 0 0 !important;
      box-shadow: 0 0 5px rgba($co-7, .2);
    }
    .wpl_prp_show_tabs.wpl_prp_left_box {
      margin-top: 20px;
    }
    .wpl_prp_right_boxes.details {
      background-color: $co-2;
      border: none;
      box-shadow: 0 0 5px rgba($co-7, .2);
      margin-top: -3px;
      margin-bottom: 0;
      border-radius: 5px 5px 0 0;
    }
    .wpl_prp_right_boxes{
      padding: 15px;
    }
    .listing_links {
      background-color: $co-2;
      border: none;
      box-shadow: 0 2px 5px rgba($co-7, .2) !important;
      border-radius: 0 0 5px 5px !important;
      margin-bottom: 25px;
      &>div{
        border-top: 1px solid $co-24;
        padding-top: 10px;
      }
    }
    .wpl_prp_right_boxes {
      background-color: $co-2;
      border: none;
      box-shadow: 0 1px 5px rgba($co-7, .2);
      border-radius: 5px;
      margin-bottom: 25px;
    }
    .listing_rooms {
      @extend .wpl_prp_right_boxes;
    }
    .agent_info {
      @extend .wpl_prp_right_boxes;
    }
    .listing_attachments {
      @extend .wpl_prp_right_boxes;
    }
    .energy_tag {
      @extend .wpl_prp_right_boxes;
    }
    .wpl_prp_show_detail_boxes_title {
      text-transform: uppercase;
      font-style: normal;
      border-bottom: none;
      font-weight: bold;
      color: $co-7;
    }
    .wpl_prp_show_detail_boxes_title:after {
      background: transparent !important;
    }
    .wpl_prp_position3_boxes_title{
      text-transform: uppercase;
      font-style: normal;
      border-bottom: none;
      font-weight: bold;
      color: $co-7;
      font-family: inherit;
      margin-bottom: 10px;
      &:after{
        width: 3%;
        height: 2px;
        background-color: $co-7 !important;
      }
    }

    .wpl_prp_show_detail_boxes .wpl-column {
      padding: 0 10px;
      margin: 0;
    }
    .wpl_prp_show_detail_boxes_cont .rows {
      color: $co-15;
    }
    .wpl_prp_show_detail_boxes_cont .rows span, .wpl_prp_show_detail_boxes_cont p {
      color: $co-16 !important;
    }
    .wpl_prp_show_detail_boxes_cont {
      .other span, .location span, .neighborhood span {
        width: 50%;
      }
      .feature.single:after {
        width: 50%;
        background: transparent !important;
        font-size: 13px;
      }
      label {
        float: left;
      }
      .feature span {
        @extend .feature.single:after;
        font-weight: bold;
      }
    }
    .wpl_prp_right_boxes_title {
      @extend .wpl_prp_show_detail_boxes_title;
    }
    .agent_info {
      .wpl_prp_right_boxes_title span:after {
        content: "\2019 s";
      }
    }
    .wpl_rooms_list_container {
      li {
        margin: 10px 0;
      }
      .room_name {
        font-weight: bold;
        font-size: 13px;
        float: left;
        padding-left: 7px;
      }
      .room_size {
        @extend .room_name;
        padding-left: 5px;
      }
      .room_3:before {
        font-size: 40px;
        top: -10px;
      }
      .room_5:before {
        content: "\e01b";
        font-size: 33px;
        left: -6px;
        top: -8px;
      }
      .room_20:before, .room_2:before {
        font-size: 33px;
        top: -6px;
      }
    }
    .neighborhood {
      & > span:after {
        right: 35px;
      }
      span {
        width: 53% !important;
      }
      .Car:after {
        font-size: 14px;
      }
      .Walk:after {
        font-size: 21px;
      }
    }
    .wpl_agent_info:hover .company_name {
      background: $co-17;
    }
    .wpl_agent_info {
      .no_image {
        border: none;
        padding: 0;
        margin: 0 auto;
      }
      .no_image:before {
        background: url(../../img/profile.svg) no-repeat;
        background-size: contain;
        width: 100%;
        height: 130px;
        content: '';
      }
      .wpl_agent_info_l {
        width: 32%;
        @include for-phone{
          width: 38%;
        }
      }
      .profile_image{
        @include for-phone{
          width: 100%;
        }
      }
      .wpl_agent_info_r{
        width: 68%;
        @include for-phone{
          width: 62%;
          padding-left: 10px;
        }
      }
      .company_name {
        font-family: $fo-standard;
        text-transform: uppercase;
        font-size: 8px;
        font-weight: normal !important;
      }
      .company_address {
        font-weight: bold;
      }
      .name {
        font-style: normal;
        font-family: inherit;
        font-size: 22px;
        font-weight: bold;
      }
      .website a, .mobile, .tel, .email, .fax {
        color: $co-18;
        font-size: 14px;
        font-weight: bold;
      }
      .website:before {
        @include transform(rotate(90deg));
        @extend .email:before;
      }
      .mobile:before, .fax:before {
        display: none;
      }
      .tel:before {
        @extend .email:before;
        content: '\e00f';
        font-family: $fo-wpl;
      }
      .email:before {
        top: 7px;
        line-height: 11px;
        font-weight: normal;
      }
      .email:hover:before {
        text-shadow: 1px 0 4px rgba($co-7, .45);
      }
      .website:hover:before {
        @extend .email:hover:before;
      }
      .tel:hover:before {
        @extend .email:hover:before;
      }
    }
    .wpl_attachments_list_container {
      li {
        background-color: transparent;
        box-shadow: 0 1px 4px rgba($co-7, .2);
        padding-left: 60px;
        height: 60px;
        border-radius: 5px;
      }
      li:before {
        font: 48px/46px "wpl-front";
        top: 8px;
      }
      li:hover:before {
        text-shadow: 1px 0 4px rgba($co-7, .45);
      }
      .wpl_attachment_link {
        padding-top: 10px;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 14px;
        color: $co-15;
      }
      .wpl_attachment_size {
        font-size: 12px;
        color: $co-9;
        font-weight: bold;
      }
    }
    .wpl-contact-listing-wp{
      form{
        margin-top: 20px;
      }
      .form-field{
        margin-bottom: 15px;
        input:not([type="submit"]),textarea{
          background: transparent;
          border-radius: 0;
          height: 45px;
          box-shadow: none;
          color: $co-1;
          &::-webkit-input-placeholder {
            color: $co-1;
          }
          &::-moz-placeholder {
            color: $co-1;
          }
          &:-ms-input-placeholder {
            color: $co-1;
          }
          &:-moz-placeholder {
            color: $co-1;
          }
        }
        textarea{
          min-height: 200px;
          width: 100% !important;
        }
      }
      .form-field.wpl-contact-listing-btn{
        .btn{
          @include border-radius(5px);
          box-shadow: none;
          border-bottom-width: 3px;
        }
      }
    }
    .wpl-listing-results-links-cnt ul>li{
      list-style: none;
    }
  }
    /*Layout2*/
  .wpl_prp_show_layout2_container{
    .wpl_prp_container_content_right {
      .wpl_prp_right_boxe_details_top {
        border-bottom: 1px dashed $co-17;
        & > div {
          padding: 5px;
          margin-bottom: 0;
        }
      }
      .wpl_prp_show_detail_boxes {
        @extend .wpl_prp_right_boxe_details_top;
      }
    }
    .wpl_prp_show_position2>div{
      border-bottom: 1px dashed $co-17;
    }
      .wpl_prp_right_boxes .wpl_prp_show_position2 > div {
        padding: 10px;
      }

      .wpl_prp_show_detail_boxes,.wpl_prp_right_boxes.details,.wpl_prp_right_boxes,.wpl_prp_right_boxes.listing_links,
      .wpl_prp_right_boxes_title,.tabs_container,.wpl_prp_show_position3>div{
        background: transparent;
        box-shadow: none !important;
        border-radius: 0;
      }

      h1,h2{
        background: transparent;
      }
    .wpl-gallery-pshow-wp {
      .lSSlideOuter {
        .wpl-lSSlider-thumbnails{
          display: block;
          position: relative;
          background: transparent;
          .wpl-lSSlider-thumbnails-inner{
            @extend .wpl-lSSlider-thumbnails;
            padding: 0;
          }
          li{
            a{
              width: 100%;
              height: 100%;
              img{
                @extend a;
                border: 1px solid transparent !important;
                padding: 2px;
              }
            }
            &.active{
              a img{
                border: 1px solid $co-17 !important;
              }
            }
          }
          /*Thumbnails arrows*/
          .lSAction{
            a{
              border: 1px solid $co-17;
              border-radius: 0;
              height: calc(100% - 10px);
              top: 0;
              margin-top: 8px;
              @include for-phone{
                margin-left: 0;
              }
              &.lSPrev{
                left: 0;
              }
              &.lSNext{
                right: 0;
              }
              &:before{
                color: $co-17;
                top: calc(50% - 13px);
                vertical-align: baseline;
              }
              &:hover {
                background: $co-17;
                &:before {
                  color: $co-2;
                }
              }
            }
          }
        }
        /*Image arrows*/
        .lSSlideWrapper{
          .lSAction{
            a{
              background: transparent;
              height: 30px;
              width: 30px;
              border-radius: 50%;
              border: 1px solid transparent;
              opacity: 1;
            }
            a:hover {
              border-color: $co-2;
              background-color: transparent;
            }
            .lSPrev:before {
              font-size: 30px;
              top: -6px;
              left: 0;
            }
            .lSNext:before {
              font-size: 30px;
              top: -6px;
              right: 0;
            }
          }
        }
      }
    }
      .col-md-4 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        @include for-desktop {
          width: 33.33333333%;
          float: left;
        }
        @include for-tablet-land {
          width: 33.33333333%;
          float: left;
        }
      }
      .col-sm-6 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        @include for-tablet {
          width: 50%;
          float: left;
        }
      }
      .col-md-6 {
        padding-left: 15px;
        padding-right: 15px;
      }
      .row {
        overflow: hidden;
        margin-right: -15px;
        margin-left: -15px;
      }
    .wpl_prp_show_title{
      .title_text{
        font: {
          size: 32px;
          weight: 400;
        }
        color: $co-19;
      }
      .location_build_up{
        padding: 0;
        span{
          font-size: 18px;
        }
      }
    }
    .tabs_container{
        padding-bottom: 25px;
    }
    .wpl_prp_position3_boxes_title:after{
      position: absolute;
      left: 0;
      bottom: -1px;
      display: block;
      content: "";
      width: 3%;
      height: 2px;
      background: $co-7 !important;
    }
    .wpl_prp_right_boxes_title{
      text-align: left;
      padding: 10px 0;
      font: {
       size: 18px;
        weight: bold;
        family: inherit;
      }
    }
    .wpl_prp_listing_icon_box{
      &>div{
        &:after{
          color: inherit !important;
        }
      }
    }
    .wpl_prp_mls_id_box{
      text-transform: uppercase;
      font-size: 18px;
    }
    .wpl_prp_show_detail_boxes_title {
      text-transform: uppercase;
      font: {
        style: normal;
        weight: bold;
        family: inherit;
      }
      border-bottom: none;

      color: $co-7;
    }
    .listing_links > div{
      border-top: none;
    }
    .wpl_prp_show_tabs-maps {
      .tabs_box {
        width: auto;
        .tabs {
          border-bottom: 2px solid $co-17 !important;
          @include for-phone{
            border-bottom: none !important;
          }
          li {
            margin: 0 10px -2px 0;
            &.active {
              border-radius: 3px 3px 0 0;
              border: 2px solid $co-17;
              border-bottom: 2px solid $co-23;
              background: transparent !important;
              @include for-phone{
                border-bottom: 2px solid $co-17;
              }
              a {
                color: $co-19 !important;
              }
            }
            a {
              color: $co-17 !important;
              text-transform: uppercase;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
#wpl_prp_show_container.wpl_prp_show_container_preview{
  .tabs_container{
    padding-bottom: 0;
  }
  .wpl_prp_container_title{
    .r1{
      font-size: 22px;
    }
    .wpl_prp_container_title_right {
      @extend .r1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .wpl_prp_container_content_left{
    width: 59%;
    @include for-tablet-sm{
      width: 100%;
    }
  }
  .wpl_prp_container_content_right{
    padding-top: 40px;
    width: 40%;
    @include for-tablet-sm{
      width: 100%;
    }
  }
  .wpl_prp_show_detail_boxes{
    padding: 10px;
  }
  .wpl_prp_container_content {
    .wpl_prp_show_detail_boxes_title,.wpl_prp_right_boxes_title{
      font-style: normal;
      font-family: inherit;
    }
    .wpl_prp_show_detail_boxes_cont .rows {
      width: 100%;
    }
  }
  .wpl_prp_right_boxes.details{
    margin-bottom: 10px;
    .wpl-large-6{
      width: 100%;
      padding-top: 10px;
    }
  }
  .form-field.wpl-contact-listing-btn .btn{
    padding: 6px;
  }
  .show_header_preview_left{
    width: -moz-calc(100% - 110px);
    width: -webkit-calc(100% - 110px);
    width: calc(100% - 110px);
  }
}
.wpl_property_show_default{
  .wpl_prp_container_content_left{
    .wpl_prp_show_detail_boxes_title{
      padding-left: 10px;
    }
    .wpl_category_description{
      .wpl_prp_show_detail_boxes_cont{
        padding: 10px;
      }
    }
  }
}

.GINGER_SOFTWARE_contour{
  overflow: hidden !important;
}

