.wpl_list_grid_switcher{
  margin-right: 20px;
}
.wpl_profile_show{
  .wpl_googlemap_container{
    margin-top: 30px;
  }
}
.wpl_profile_show_container{
  background: rgba($co-2,.7);
  border-bottom: 1px solid $co-24;
  margin: 0;
  .wpl_profile_container_title{
    text-transform: uppercase;
    color: $co-19 !important;
    padding: 20px 0;
    font: {
      size: 24px;
      family: inherit;
    }
  }
}
.wpl_profile_show_container_box{
  margin: 0 auto;
  padding-top: 30px;
  border: none;
  .wpl_agent_info{
    display: inline-block;
    vertical-align: top;
    width: 70%;
    padding-right: 20px;
    @include for-tablet{
      float: none;
      width: 100%;
    }
    .wpl_agent_info_detail{
      width: 70%;
      @include for-phone{
        width: 100%;
      }
    }
    .wpl_agent_info_r{
      padding-top: 20px;
      .location span{
        width: auto;
      }
    }
  }
  .wpl_agent_details{
    float: left;
    width: 100%;
  }
  .wpl_agent_about{
    margin-top: 23px;
    float: left;
    @include for-phone{
      float: left;
    }
  }
}
.wpl_agent_info_l{
  @include for-tablet{
    margin: 0 auto;
  }
}
.wpl_agent_info_l img{
  border: none;
}
.wpl_agent_info_c>ul{
  margin-left: 0;
  li{
    float: none;
    padding-left: 0;
    font-size: 14px;
    height: auto;
    width: 100%;
    line-height: 30px;

    &:before{
      display: none;

    }

    label {
      background: transparent !important;
      width: auto;
      color: $co-3;
      position: static;
      display: inline-block;
      padding-right: 5px;
      font: {
        family: $font-open-sans !important;
        weight: bold;
        size: 14px;
      }
      @include for-phone{
        font-size: 14px !important;
      }
    }
    a{
      @include for-phone{
        float: none !important;
        display: inline-block !important;
      }
    }
  }
}
.wpl_agent_info_c.col-md-7{
  width: 58.33333333%;
  float: left;
  padding: 0 15px;
  ul{
    margin-left: 0;
    list-style: none;
  }
}

.wpl_user_contact_container {
  display: inline-block;
  width: 30%;
  margin-top: 20px;
  vertical-align: top;
  @include for-tablet{
    float: none;
    width: 60%;
    margin: 20px auto;
  }
  @include for-phone{
    width: 95%;
  }
  .wpl_contact_comment{
    color: $co-19;
    text-transform: uppercase;
    font:{
      family: inherit;
      size: 18px;
      weight: 600;
    }
  }
  .text-field{
    display: block;
    float: none;
    width: 100%;
  }
  .form-field{
    padding-right: 0;
  }
  input,textarea{
    box-shadow: inset 0 2px 2px rgba($co-7,.075);
  }
  .button {
    position: static;
    padding: 0;
    width: auto;
    border: none;
    text-shadow: none;
    float: right;
    margin-bottom: 0;
    &:hover{
      margin-bottom: 0;
    }
    input {
      padding: 8px 25px;
      border: none;
      background: transparent;
      box-shadow: none;
      margin: 0;
    }
  }
}