.sms-addon-buttons {
	width: 200px !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	flex-direction: column;
	padding: 45px 20px !important;
	-webkit-display: flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}