$co-0: #000000;
$co-1: #fff;
$co-2: #808080;

$co-3: #666;
$co-4: #ebebeb;
$co-5: #444444;
$co-6: #333333;
$co-7: #777;
$co-8: #626262;
$co-9: #ccc;
$co-10: #525252;
$co-11: #d9d9d9;
$co-12: #b8b8b8;
$co-13: #bbb;
