/*Carousel*/
.wpl_carousel_container {
  ul li {
    list-style: none;
  }

  /*List*/
  .simple_list {
    li {
      list-style: none;
      .more_info {
        z-index: 1000;
        display: none;
        &:after {
          top: 10px;
        }
      }
      & > div {
        @include for-phone {
          display: block !important;
        }
      }
    }
    .wpl-listing-tags-wp {
      bottom: 0;
    }
    .wpl-listing-tags-cnt
    {
      padding: 0;
      & > div
      {
        font-size: 11px;
        margin: 0 0 5px 0;
        line-height: 18px;
        &:after
        {
          right: 4px;
        }
      }
    }
  }
  /*Modern*/
  .ei-slider .ei-slider-large li{
    text-align: center;
  }
  .ei-slider-thumbs{
    padding: 0;
  }
}

/*Multi images*/
.widget.widget_wpl_carousel_widget > h3,
.widget.widget_wpl_agents_widget > h3 {
  font-size: 24px;
  text-transform: uppercase;
  &:after {
    content: "";
    display: block;
    background: $co-6 !important;
    width: 25px;
    height: 2px;
    margin-top: 3px;
  }
}
.wpl-plugin-owl.wpl-carousel-multi-images {
  &.container {
    &:before {
      background: transparent !important;
    }
  }
  .owl-item {
    box-sizing: border-box;
  }
  .wpl-carousel-item {
    border: none;

    img {
      @include transition(all 0.3s ease-in-out);
      @include transform(scale(1));
      line-height: 0;
      position: relative;
      bottom: -15px;
    }
    .title {
      .more_info {
        background: transparent;
      }
      h3 {
        position: relative;
        color: $co-2;
        background: $co-1;
        line-height: 2em !important;
        font: {
          family: inherit !important;
          size: 15px !important;
        }
        &:after {
          @include transition(all 0.5s ease-in-out);
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          top: 0;
          margin-left: -8px;
          width: 0;
          height: 0;
          border: {
            style: solid;
            width: 0 8px 8px;
            color: transparent;
            bottom-color: $co-1;
          }
        }
      }
    }
    &:hover {
      img {
        bottom: -1px;
        @include transform(scale(1));
      }
      h3 {
        color: $co-12;
        background: $co-1;
        &:after {
          top: -8px;
        }
      }
    }
  }
  .owl-controls .owl-nav {
    top: 55%;
    & > div {
      font-size: 30px;
      &:before {
        font-weight: 100;
      }
      &:hover {
        opacity: 0.7;
        color: inherit !important;
      }
    }
    .owl-next {
      right: -30px;
    }
    .owl-prev {
      left: -30px;
    }
  }
}
.wpl_prp_show_container .wpl-plugin-owl.wpl-carousel-multi-images.container{
  width: 100%;
}

/*Details*/
.wpl_carousel_container .details_view.wpl-plugin-owl {
  padding: 0 !important;
  margin: 0;
}
.responsive-slider .slides ul li .slide-body .caption.header
{
  h2
  {
    color: $co-1;
  }
  .caption{
    position: static;
  }
}
/*FEATURED AGENTS*/
.wpl_agents_widget_container {
  .wpl_profile_container {
    vertical-align: top;
    transition: 0.3s;
    border-bottom: none !important;
    min-height: 330px;
    @include for-middle-phone{
      min-height: auto;
    }

    .wpl_profile_picture {
      max-width: 100%;
      height: auto !important;
      overflow: hidden;
      @include for-phone{
        width: 100% !important;
      }
      .front {
        border-radius: 0;
        border: none;
        box-shadow: none;
        position: relative;
        height: 100%;
      }
      .back {
        display: none;
      }
      img{
        @include for-phone{
          width: 100% !important;
        }
      }
    }
    .wpl_profile_container_title {
      height: 63px;
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      @include for-middle-phone{
        bottom: auto;
      }
      .title {
        font: {
          size: 18px;
          family: inherit;
          weight: bold;
        }
        text-transform: uppercase;
      }
    }
    ul {
      width: 100%;
      background: rgba($co-0, 0.5);
      text-align: center;
      position: relative;
      top: -50px;
      left: 0 !important;
      height: 50px;
      margin: 0 auto;
      li {
        display: inline-block;
        float: none;
        &:after {
          line-height: 50px;
        }
      }
      li,
      li:after {
        background: transparent !important;
        border-radius: 0;
      }
    }
    &:hover {
      transform: translate(0, -10px) scale(1.1);
      .front {
        transform: none !important;
      }
    }
  }
}

/*Favorites*/
.wpl_favorite_listings {
  margin-bottom: 20px;
}
.wpl_favorite_widget_title {
  h3,
  .badge {
    display: inline-block;
  }
}
.wpl_favorites_items {
  li {
    list-style: none;
    position: relative;
    a {
      display: inline-block;
      img,
      .wpl_favorite_item_title {
        vertical-align: middle;
      }
    }
    .wpl_favorite_item_remove {
      position: absolute;
      right: 0;
    }
  }
}
.wpl_favorite_contact_form {
  form {
    margin-top: 20px;
  }
  .form-field {
    margin-bottom: 15px;
    @include for-phone {
      width: 100% !important;
    }
    input:not([type="submit"]),
    textarea {
      @include border-radius(20px);
      @include placeholder(lighten($co-2, 10%), 16px, inherit, normal);
      border-color: lighten($co-9, 5%);
      padding: 0 10px;
    }
    input {
      height: 40px;
      line-height: normal;
    }
    textarea {
      padding: 10px;
    }
    input[type="submit"] {
      @include border-radius(20px !important);
      font-size: 17px;
      border: none;
      color: $co-1;
    }
  }
}
#wpl-favorite-compare {
  font-size: 17px;
  text-transform: capitalize;
  border-radius: 20px !important;
}
.wpl-compare-table thead tr th {
  display: block;
}

/*Google map*/
.wpl-googlemap-widget .wpl-googlemap-widget-link a {
  color: $co-1 !important;
}

// changing

.wpl_divi_agents
  .et_pb_text_inner
  .wpl-profile-listing-wp
  .wpl_profile_listing_container
  .wpl_sort_options_container {
  display: none;
}
.wpl_divi_agents
  .et_pb_text_inner
  .wpl-profile-listing-wp
  .wpl_profile_listing_container
  .wpl_pagination_container {
  display: none;
}
.wpl_divi_agents
  .et_pb_text_inner
  .wpl-profile-listing-wp
  .wpl_profile_listing_container
  .wpl-row
  .wpl-column {
  width: 31%;
  max-width: 100%;
}
.wpl_divi_agents
  .et_pb_text_inner
  .wpl-profile-listing-wp
  .wpl_profile_listing_container
  .wpl-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wpl_divi_agents
  .et_pb_text_inner
  .wpl-profile-listing-wp
  .wpl_profile_listing_container
  .wpl-row
  .wpl-column
  .wpl_profile_container
  ul {
  display: flex;
  flex-flow: column;
  box-shadow: 0 0 5px -3px;
  position: absolute;
  top: 2.7%;
  left: 100%;
  padding: 0;
  border-radius: 0 5px 5px 0;
  width: 12%;
}
.wpl_divi_agents
  .et_pb_text_inner
  .wpl-profile-listing-wp
  .wpl_profile_listing_container
  .wpl-row
  .wpl-column
  .wpl_profile_container
  ul
  .mobile {
  border-top: 1px solid #d7d7d7;
  border-radius: 0;
  border-bottom: 1px solid #d7d7d7;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 3rem;
}
.wpl_divi_agents
  .et_pb_text_inner
  .wpl-profile-listing-wp
  .wpl_profile_listing_container
  .wpl-row
  .wpl-column
  .wpl_profile_container
  ul
  .mobile
  a {
  margin-top: 29%;
}

.wpl_divi_agents
  .et_pb_text_inner
  .wpl-profile-listing-wp
  .wpl_profile_listing_container
  .wpl-row
  .wpl-column
  .wpl_profile_container
  ul
  li::after {
  background: #fff;
  color: grey;
}
.wpl_divi_agents
  .et_pb_text_inner
  .wpl-profile-listing-wp
  .wpl_profile_listing_container
  .wpl-row
  .wpl-column
  .wpl_profile_container
  .wpl_profile_container_title
  .title
  a {
  color: #4ccba8 !important;
}

.wpl_divi_agents
  .et_pb_text_inner
  .wpl-profile-listing-wp
  .wpl_profile_listing_container
  .wpl-row
  .wpl-column
  .wpl_profile_container
  .wpl_profile_container_title {
  position: absolute;
  top: 67%;
  width: 100%;
  background: #222;
  border-radius: 0 6rem 0 0;
}

.wpl_divi_agents
  .et_pb_text_inner
  .wpl-profile-listing-wp
  .wpl_profile_listing_container
  .wpl-row {
  &.wpl-row {
    @media only screen and (max-width: 1000px) and (min-width: 320px) {
      display: flex;
      flex-flow: column;
    }
  }
}
.wpl_divi_agents
  .et_pb_text_inner
  .wpl-profile-listing-wp
  .wpl_profile_listing_container
  .wpl-row
  .wpl-column {
  &.wpl-column {
    @media only screen and (max-width: 480px) and (min-width: 320px) {
      width: 100%;
    }
    @media only screen and (max-width: 1000px) and (min-width: 481px) {
      width: 54%;
    }
  }
  &.wpl-column .wpl_profile_container .wpl_profile_picture .front {
    @media only screen and (max-width: 480px) and (min-width: 320px) {
      height: 320px;
      max-height: 100%;
    }
  }
}

.wpl-whoWeAre-img .et_pb_image_wrap img {
  border-radius: 60% 0 0 0;
}
.wpl_whoWeAre_btn {
  background: #4ccba8;
  color: #222;
  border: #4ccba8;
}
.wpl_four_block {
  box-shadow: 0px 0px 16px -6px;
  height: 200px;
  max-height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.wpl_background_image {
  background: #222;
}

.et_pb_row .et_pb_column .wpl_whatTheySay_header {
  text-align: center;
  font-size: 24px;
  color: #1c1c1c;
}
.wpl_meetOurTeam_header .et_pb_text_inner p {
  font-size: 24px;
  text-align: center;
  color: #1c1c1c;
}
.wpl_whoWeAre_header {
  font-size: 24px;
  color: #1c1c1c;
}
