.wpl_prp_show_container {
  padding-top: 35px;
  @include for-phone {
    padding-top: 55px;
  }
  .wpl_prp_container_content_title {
    margin-bottom: 0;
    margin-top: 10px;
    border-bottom: 1px dashed $co-18 !important;
    padding-bottom: 20px;
    h1 {
      margin: 0 !important;
    }
    h2 {
      margin: 0 !important;
      font-size: 23px !important;
      color: $co-8;
    }
  }
  .btn-primary {
    @include border-radius(5px !important);
    color: $co-4;
  }
  .wpl-listing-tags-wp {
    top: 0;
    right: 20px;
  }
  .wpl-slider-bx-pager-wp,
  #bx-pager {
    right: 20px;
  }
  /*Tabs*/
  .tabs_container {
    border: none;
  }
  .tabs_box {
    border-radius: 5px;
    border: 1px solid rgba($co-0, 0.08);
    margin: 10px 0;
    padding: 0;
    background: $co-2;
    .tabs {
      display: block;
      padding: 0;
      margin-bottom: 0;
      li {
        white-space: nowrap;
        border-style: solid;
        font-weight: 400;
        margin: 0;
        border: {
          width: 0 1px 0 0;
          color: rgba($co-0, 0.08);
        }
        a {
          text-decoration: none;
          display: block;
          font-size: 14px;
          padding: 14px 30px !important;
          color: $co-16;
        }
        &.active {
          a {
            background-color: $co-4;
          }
          &:before {
            content: unset !important;
          }
        }
      }
    }
  }
  /*end tabs*/
  .wpl_prp_container_content_title {
    border-bottom: none;
  }
  .title_text {
    text-transform: uppercase;
    font: {
      size: 30px !important;
      family: inherit;
      style: normal;
    }
  }
  .location_build_up {
    color: $co-2;
    font: {
      style: normal;
      size: 16px;
    }
  }
  .wpl_prp_position3_boxes_title,
  .wpl_prp_show_detail_boxes_title,
  .wpl_prp_right_boxes_title {
    border: none;
    text-transform: uppercase;
    margin-top: 25px;
    font: {
      style: normal;
      weight: bold;
      size: 22px;
      family: inherit;
    }
    border-bottom: none;
    color: $co-17;
    &:after {
      content: unset;
    }
  }
  .wpl_prp_right_boxes_title span {
    color: $co-6;
  }
  /*Category fields*/
  .wpl_prp_show_detail_boxes_cont {
    p {
      font: {
        size: 14px;
        weight: normal;
      }
      color: $co-8;
    }
    .wpl-column {
      text-transform: uppercase;
      color: $co-16;
      padding-left: 0;
      font: {
        size: 14px;
        weight: bold;
      }
      &.other,
      &.location,
      &.neighborhood {
        span {
          text-transform: none;
          background: transparent;
          text-align: right;
          width: 40%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font: {
            size: 15px;
            weight: normal;
          }
          @include for-tablet-sm {
            width: 60%;
          }
        }
      }
      &.feature.single:after {
        background: transparent !important;
        text-transform: none;
        font-size: 15px;
        text-align: right;
      }
      &.feature span {
        background: transparent !important;
        text-transform: none;
      }
      label {
        float: left;
      }
    }
  }
  /*End Category fields*/
  .listing_results {
    .wpl_prp_right_boxes_title {
      display: none;
    }
  }
  .wpl-listing-results-links-cnt {
    //position: absolute;
    //top:0;
    width: 100%;
    .wpl-back-to-search-results {
      a {
        color: $co-2;
        font-weight: normal;
      }
    }
  }
  .wpl_listing_results_links_list_container {
    float: right;
    @include for-phone {
      float: none;
    }
    li {
      list-style: none;
      a {
        color: $co-2;
        font-weight: normal;
      }
    }
  }

  .wpl_prp_container_content_right {
    padding-top: 0;
  }
  .wpl_prp_right_boxes {
    padding: 0 10px 25px 10px;
  }
  .wpl_prp_right_boxes,
  .wpl-prp-basic-info {
    border: none;
    border-bottom: 1px dashed $co-18 !important;
  }
  .wpl_prp_right_boxes.details {
    border-bottom: none;
  }
  .wpl_prp_show_detail_boxes .rows.other,
  .wpl_prp_right_boxes.details
    .wpl_prp_right_boxes_content
    .wpl_prp_show_detail_boxes_cont
    ul
    li {
    text-transform: uppercase;
    color: $co-6;
    font: {
      size: 14px;
      family: inherit;
      weight: bold;
    }
    span {
      text-transform: none;
    }
  }
  .wpl_prp_show_detail_boxes_cont .rows.separator {
    padding-left: 35px;
    margin-left: -35px;
  }
  .wpl_prp_right_boxe_details_left {
    width: 100%;
    li {
      font-size: 14px;
      color: $co-16;
      margin-top: 4px !important;
      span:first-child {
        text-transform: uppercase;
      }
      span:last-child {
        text-transform: unset;
      }
    }
  }
  .price_box {
    font: {
      weight: bold;
      size: 26px;
      family: inherit;
    }
  }

  .wpl_agent_info {
    &:hover .company_name {
      color: $co-4;
    }
    .no_image::before {
      line-height: 0.8;
      font-size: 10em;
      @include for-tablet {
        font-size: 7em;
      }
    }
    .profile_image {
      width: 100%;
      box-sizing: border-box;
      display: block;
    }
    .wpl_agent_info_l {
      width: 35%;
    }
    .wpl_agent_info_r {
      width: 65%;
      ul {
        margin: 0;
      }
    }
    .company_details {
      margin-top: 0;
    }
    .company_name {
      background: white;
      color: $co-19;
      margin-top: 10px;
      font: {
        size: 14.4px;
        weight: normal !important;
      }
      &:hover {
        color: $co-4;
      }
    }
    .company_address {
      font-weight: bold;
    }
    .name {
      margin-top: 0;
      font: {
        style: normal;
        family: inherit;
        size: 22px;
        weight: bold;
      }
    }
    .website a,
    .mobile,
    .tel,
    .email,
    .fax {
      color: $co-16;
      font-size: 14px;
    }
    .website:before {
      @include transform(rotate(90deg));
      @extend .email:before;
    }
    .tel:before {
      @extend .email:before;
      content: "\e00f";
      font-family: $fo-wpl;
    }
    .email img {
      vertical-align: bottom;
    }
    .email:before {
      top: 7px;
      line-height: 11px;
      font-weight: normal;
    }
  }

  .wpl_rooms_list_container {
    li {
      margin: 10px 0;
      @include for-phone {
        width: 100%;
      }
      &:before {
        color: $co-6;
        font-size: 33px !important;
      }
    }
    .room_name {
      font-size: 14px;
      float: left;
      padding-left: 7px;
      color: $co-10;
    }
    .room_size {
      @extend .room_name;
      padding-left: 5px;
    }
    .room_3:before {
      top: -10px;
    }
    .room_5:before {
      content: "\e01b";
      left: -6px;
      top: -8px;
    }
    .room_20:before {
      top: -6px;
    }
    .room_7:before {
      content: "\e017";
    }
  }
  .wpl_listing_links_container {
    ul li {
      color: $co-6;
    }
  }
  .wpl_attachments_list_container {
    margin: 0;
    li {
      @include border-radius(5px);
      background-color: $co-4;
      padding-left: 60px;
      height: 60px;
      padding-right: 10px;
    }
    li:before {
      font: 48px/46px $fo-wpl;
      top: 8px;
      left: 0;
      color: $co-6;
    }
    .wpl_attachment_link {
      padding-top: 7px;
      text-transform: capitalize;
      font-weight: bold;
      font-size: 14px;
      color: $co-7;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .wpl_attachment_size {
      display: block;
      margin-top: -10px;
      font: {
        size: 12px;
        weight: normal;
      }
    }
  }
  .wpl-gallery-pshow-wp {
    border: none;
    .lSSlideOuter {
      .lSAction {
        a {
          border-radius: 0;
          @include for-phone {
            top: 63%;
            width: 3.2em;
            height: 3.2em;
            line-height: 3.2em;
          }
          &:before {
            font-size: 1.2em;
          }
          &.lSPrev {
            left: 0;
          }
          &.lSNext {
            right: 0;
          }
        }
      }
      .wpl-gallery-pshow {
        margin: 0;
        .lslide {
          margin: 0;
        }
        span {
          &:before {
            background-image: none;
          }
          &:after {
            background-image: none;
          }
        }
      }
      .wpl-lSSlider-thumbnails {
        display: block;
        position: relative;
        background: transparent;
        padding: 0;
        @include for-phone {
          background-color: lighten($co-0, 32%);
        }
        .lSAction {
          a {
            @include calc(height, "100% - 9px");
            border: 1px solid $co-9;
            border-radius: 0;
            top: 0;
            margin-top: 0;
            @include for-phone {
              margin-left: 0;
              height: 100%;
            }
            &.lSPrev {
              left: 0;
              display: none;
            }
            &.lSNext {
              right: 0;
            }
            &:before {
              color: $co-9;
              top: calc(50% - 16px);
              vertical-align: baseline;
            }
            &:hover {
              background: $co-9;
              &:before {
                color: $co-1;
              }
            }
          }
        }
      }
      .wpl-lSSlider-thumbnails-inner {
        @extend .wpl-lSSlider-thumbnails;
        padding: 0;
        @include for-phone {
          padding: 5px 20px;
        }
        .lSPager.lSGallery {
          //width: auto !important;
          text-align: left;
          z-index: 2;
          margin-top: 0 !important;
          padding: 0 !important;
          white-space: nowrap;
          li {
            display: inline-block;
            float: none !important;
            margin-bottom: 0;
            margin-right: 0 !important;
            padding-right: 10px;
          }
          img {
            width: 100% !important;
            box-sizing: border-box;
          }
          li.active img {
            border-color: $co-4;
          }
        }
      }
    }
  }
  /*Layout2*/
  &.wpl_prp_show_layout2_container {
    .wpl_prp_right_boxe_details_bot {
      margin: 0;
    }
    .wpl_prp_right_boxes.listing_results {
      li a {
        text-transform: none;
        font-size: 16px;
      }
      .wpl-back-to-search-results {
        float: left;
      }
    }
    .wpl-listing-results-links-cnt {
      //border-bottom: 1px solid $co-9;
      border-top: none !important;
      overflow: hidden;
    }
    .wpl_listing_results_links_list_container {
      float: left;
    }
    .wpl_prp_right_boxe_details_top {
      border-bottom-style: dashed;
    }
    .wpl_prp_right_boxes {
      padding: 0;
      padding-bottom: 25px;
      // .no_image {
      //   background: $co-4;
      //   &:before {
      //     content: "";
      //     background: url(images/no_image-agent.png);
      //     width: 110px;
      //     height: 120px;
      //     margin: auto;
      //   }
      // }
    }
    .title_text {
      margin: 0;
    }
    .location_build_up {
      margin-top: 0;
      text-align: left;
    }
    .wpl_prp_show_tabs {
      @include border-radius(5px);
      border: 1px solid $co-21;
      .tabs_box {
        border-width: 0 0 1px 0;
        margin: 0;
        .tabs {
          margin-bottom: 0;
          li {
            margin: 0;
            position: relative;
            &.active {
              background-color: $co-1;
              &:before {
                content: "";
                display: block;
                position: absolute;
                height: 1px;
                width: 80%;
                left: 50%;
                margin-left: -40%;
                bottom: -1px;
                z-index: 2;
              }
              a {
                color: inherit;
              }
            }
            a {
              font-size: 14px;
            }
          }
        }
      }
      .tabs_container {
        padding: 10px;
      }
    }
  }
  .wpl_user_contact_container,
  .wpl-contact-listing-wp {
    form {
      margin-top: 20px;
    }
    .form-field {
      margin-bottom: 0;
      @include for-phone {
        width: 100% !important;
      }
      input:not([type="submit"]),
      textarea {
        @include border-radius(5px);
        @include placeholder($co-12, 16px, inherit, normal);
        border: 1px solid $co-20;
        padding: 0 15px;
        line-height: 40px;
        margin: 5px 0;
        color: $co-12;
      }
      input {
        height: 40px;
      }
      textarea {
        padding: 10px;
      }
      input[type="submit"] {
        font-size: 16px;
      }
    }
    .contact-recaptcha {
      display: inline-block;
    }
  }
  .wpl_video_type {
    list-style: none;
  }
  .wpl_prp_container_content_left,
  .wpl_prp_container_content_right {
    @include for-middle-phone {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
}
/*End property show*/
.wpl_prp_show_position3 .wpl-contact-listing-wp .form-field {
  box-sizing: border-box;
}
.wpl_prp_container_content_left {
  .wpl-large-up-6 {
    .wpl-column:not(.single) {
      span,
      label {
        display: block;
        float: none;
        text-align: left;
      }
    }
  }
}
#wpl_prp_show_container.wpl_prp_show_container_preview {
  .tabs_container {
    padding-bottom: 0;
  }
  .wpl_prp_container_title {
    .r1 {
      font-size: 22px;
    }
    .wpl_prp_container_title_right {
      @extend .r1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .wpl_prp_container_content_left {
    width: 59%;
    @include for-tablet-sm {
      width: 100%;
    }
  }
  .wpl_prp_container_content_right {
    padding-top: 40px;
    width: 40%;
    @include for-tablet-sm {
      width: 100%;
    }
  }
  .wpl_prp_show_detail_boxes {
    padding: 10px;
  }
  .wpl_prp_container_content {
    .wpl_prp_show_detail_boxes_title,
    .wpl_prp_right_boxes_title {
      font-style: normal;
      font-family: inherit;
    }
    .wpl_prp_show_detail_boxes_cont .rows {
      width: 100%;
    }
  }
  .wpl_prp_right_boxes.details {
    margin-bottom: 10px;
    .wpl-large-6 {
      width: 100%;
      padding-top: 10px;
    }
  }
  .form-field.wpl-contact-listing-btn .btn {
    padding: 6px;
  }
  .show_header_preview_left {
    @include calc(width, "100% - 110px");
  }
}
