$co-0: #ff5f5c;
$co-1: #d9d9d9;
$co-2: #fbfbfb;
$co-3: black;
$co-4: white;
$co-5: #d4302d;
$co-6: #525252;
$co-7: #666;
$co-8: #808080;
$co-9: #ffeaea;
$co-10: #b2b2b2;
$co-11: #b3b3b3;
$co-12: #999999;
$co-13: #e6e6e6;
$co-14: #fafafa;
$co-15: #f2f2f2;
$co-16: #626262;
$co-17: #333333;
$co-18: #cccccc;
$co-19: #414141;
$co-20: #d7d7d7;
$co-21: #ebebeb;
$co-22: #1a1a1a;
$co-23: #8a8a8a;
$co-24: #1abc9c;
$co-25: #dadada;
$co-26: #fda6a5;
$co-27: #eaeaea;
$co-28: #adadad;