$co-1: #000;
$co-2: #fff;
$co-3: #4d4d4d;
$co-4: #999;
$co-5: #c45534;
$co-6: #fafafa;
$co-7: #e3e3e3;
$co-8: #464646;
$co-9: #e6e6e6;
$co-10: #adadad;
$co-11: #666;
$co-12: #e1e1e1;
$co-13: #1a1a1a;
$co-14: #cc6951;
$co-15: #fcfcfc;
$co-16: #f1f1f1;
$co-17: #29a9df;
$co-18: #e5e5e5;
$co-19: #c35033;
$co-20: #e0e0e0;
$co-21: #b3b3b3;
$co-22: #ececec;
$co-23: #333;
$co-24: #e7e5e4;
$co-25: #222;
$co-26: #b2b2b2;
$co-27: #a0a0a0;
$co-28: #6f6f6f;
$co-29: #808080;
$co-30: #4c4c4c;
$co-31: #919191;
$co-32: #83a846;
$co-33: #6F8F3B;
$co-34: #eee;
$co-35: #f0f0f0;
$co-36: #1f9bcf;

$fo-1: 'Lato';
$fo-2: 'BenchNine';
$fo-4: 'wpl-front';
$fo-5: 'Open Sans';
$fo-6: 'Raleway';