/**
 * WPL
 * WPL UI Department of Realtyna Inc.
 * Copyright 2015 Realtyna Inc. | realtyna.com
 **/

$co-0:  #000000;
$co-1:  #ffffff;
$co-2:  #31aee2;
$co-3:  #30ace1;
$co-4:  #5a5a5a;
$co-5:  #2c2c2c;
$co-6:  #d5d5d5;
$co-7:  #ececec;
$co-8:  #dddddd;
$co-9:  #ededed;
$co-10: #bbbbbb;
$co-12: #ffb42b;
$co-13: #3c274f;
$co-14: #d8cddf;
$co-15: #6d5188;
$co-16: #666666;
$co-17: #f1f1f1;
$co-18: #1cc654;
$co-19: #ff5555;
$co-20: #222222;
$co-21: #f9f9f9;
$co-22: #3cae2c;
$co-23: #fff992;
$co-24: #62c462;
$co-25: #e6e6e6;
$co-26: #428bca;
$co-27: #357ebd;
$co-28: #90ddf6;
$co-29: #4ebcec;
$co-30: #2094c5;
$co-31: #005099;
$co-32: #f9f9f9;
$co-33: #c8c8c8;
$co-34: #6b6b6b;
$co-35: #2aa9de;
$co-36: #29a9df;
$co-37: #fafafa;
$co-38: #eeeeee;
$co-39: #D21A10;


$co-40: #303030;
$co-41: #eef0f3;
$co-42: #f7f8f9;
$co-43: #1f1f1f;
$co-44: #4f4f4f;
$co-45: #0c65c5;
$co-46: #08c12a;
$co-47: #ff3f3f;
$co-48: #153b51;
$co-49: #999999;
$co-50: #f2f2f2;
$co-51: #ecf3fa;
$co-52: #f5f5f5;
$co-53: #dcdee1;
$co-54: #f3c421;
$co-55: #fdf7df;
$co-56: #f04545;
$co-57: #434343;
$co-58: #00B3FF;

$co-59: #525252;
$co-60: #287BBC;

$co-61: #E9671E;
$co-62: #9EB12C;
$co-63: #d40404;
$co-64: #ec481b;

$co-65: #2187b2;
$co-66: #808080;
$co-67: #ea2d2d;
$co-68: #5faf4c;
$co-69: #fffcf2;
$co-70: #c4a55e;
$co-71: #c09853;
$co-72: #faebcc;
$co-73: #fcf8e3;
$co-74: #990000;
$co-75: #fff1f0;
$co-76: #398439;
$co-77: #f2fae3;
$co-78: #b8b8b6;
$co-79: #74c005;
$co-80: #d54e21;
$co-81: #cccccc;
$co-82: #e1e2e2;
$co-83: #ebebeb;
$co-84: #d0d0d0;
$co-85: #85bb65;
$co-86: #e5e5e5;
$co-87: #3b5998;
$co-88: #2b4170;
$co-89: #e2e2e2;
$co-90: #0177b4;
$co-91: #00b7ea;
$co-92: #0c8ac1;
$co-93: #1ed1b6;
$co-94: #FF29C2;
$co-95: #00749a;
$co-96: #d0483b;
$co-97: #33aadd;
$co-98: #33dd87;
$co-99: #8e42f7;
$co-100: #FFDC64;
$co-101: #0073aa; 
$co-102: #a0dc1e;

$color-header-text:         $co-2;
$color-header-border:       $co-3;
$color-sidebar-back-left:   $co-4;
$color-sidebar-back-active: $co-5;
$color-sidebar-border-b:    $co-34;
$color-sidebar-border-l:    $co-35;

$color-button-back:         $co-36;
$color-button-text:         $co-1;

// Properties Manager Colors
$color-panel-back:          $co-37;
$color-panel-border:        $co-6;
$color-panel-title-back:    $co-7;
$color-background:          $co-37;

/* Fancybox */
$color-fancy-overlay:       rgba($co-0,0.4);
$color-fancy-border-top:    $co-28;
$color-fancy-gcolor-top:    $co-29;
$color-fancy-gcolor-bottom: $co-30;
$color-fancy-header-color:  $co-31;
$color-fancy-back:          $co-32;


$white      : $co-1;
$black      : $co-0;
$color_1	: $co-36;
$color_2	: $co-38;
$color_3	: $co-16;
$color_4   	: $co-5;
$color_5   	: $co-39;
$color_6    : $co-18;
$color_7    : $co-23;